In [9]:
import pandas as pd
df=pd.read_csv("daily_water_consumption.csv")

In [10]:
df.head(10)

,Date,Person_ID,Age,Gender,City,Temperature_C,Activity_Level,Water_Consumed_Liters
0,2025-01-01,P0001,21,Female,Karachi,22.1,Medium,2.40
1,2025-01-02,P0001,21,Female,Karachi,41.0,Medium,3.31
2,2025-01-03,P0001,21,Female,Karachi,26.4,High,2.96
3,2025-01-04,P0001,21,Female,Karachi,31.4,Medium,3.16
4,2025-01-05,P0001,21,Female,Karachi,35.7,Low,2.43
5,2025-01-06,P0001,21,Female,Karachi,33.2,Low,2.53
6,2025-01-07,P0001,21,Female,Karachi,24.8,Medium,2.66
7,2025-01-08,P0001,21,Female,Karachi,39.1,High,3.75
8,2025-01-09,P0001,21,Female,Karachi,32.4,High,3.26
9,2025-01-10,P0001,21,Female,Karachi,15.4,Medium,2.40

In [11]:
df.tail(7)

,Date,Person_ID,Age,Gender,City,Temperature_C,Activity_Level,Water_Consumed_Liters
36493,2025-12-25,P0100,55,Male,Rawalpindi,21.0,Low,1.83
36494,2025-12-26,P0100,55,Male,Rawalpindi,34.6,Medium,2.98
36495,2025-12-27,P0100,55,Male,Rawalpindi,22.7,Medium,2.49
36496,2025-12-28,P0100,55,Male,Rawalpindi,39.3,High,3.54
36497,2025-12-29,P0100,55,Male,Rawalpindi,40.6,Low,2.93
36498,2025-12-30,P0100,55,Male,Rawalpindi,34.1,Low,2.23
36499,2025-12-31,P0100,55,Male,Rawalpindi,16.4,Low,1.57

In [12]:
print("rows:",df.shape[0])
print("columns:",df.shape[1])

rows: 36500
columns: 8

In [15]:
df.isnull().sum()

Date                     0
Person_ID                0
Age                      0
Gender                   0
City                     0
Temperature_C            0
Activity_Level           0
Water_Consumed_Liters    0
dtype: int64

In [17]:
df.dtypes

Date                      object
Person_ID                 object
Age                        int64
Gender                    object
City                      object
Temperature_C            float64
Activity_Level            object
Water_Consumed_Liters    float64
dtype: object