In [1]:
import pandas as pd

df=pd.read_csv("daily_water_consumption.csv")

In [2]:
df.head(10)

,Date,Person_ID,Age,Gender,City,Temperature_C,Activity_Level,Water_Consumed_Liters
0,2025-01-01,P0001,21,Female,Karachi,22.1,Medium,2.40
1,2025-01-02,P0001,21,Female,Karachi,41.0,Medium,3.31
2,2025-01-03,P0001,21,Female,Karachi,26.4,High,2.96
3,2025-01-04,P0001,21,Female,Karachi,31.4,Medium,3.16
4,2025-01-05,P0001,21,Female,karachi,35.7,Low,2.43
5,2025-01-06,P0001,21,Female,Karachi,33.2,Low,2.53
6,2025-01-07,P0001,21,Female,Karachi,24.8,Medium,2.66
7,2025-01-08,P0001,21,Female,Karachi,39.1,High,3.75
8,2025-01-09,P0001,21,Female,Karachi,32.4,High,3.26
9,2025-01-10,P0001,21,Female,Karachi,15.4,Medium,2.40

In [3]:
df.tail(7)

,Date,Person_ID,Age,Gender,City,Temperature_C,Activity_Level,Water_Consumed_Liters
36493,2025-12-25,P0100,55,Male,Rawalpindi,21.0,Low,1.83
36494,2025-12-26,P0100,55,Male,Rawalpindi,34.6,Medium,2.98
36495,2025-12-27,P0100,55,Male,Rawalpindi,22.7,Medium,2.49
36496,2025-12-28,P0100,55,Male,Rawalpindi,39.3,High,3.54
36497,2025-12-29,P0100,55,Male,Rawalpindi,40.6,Low,2.93
36498,2025-12-30,P0100,55,Male,Rawalpindi,34.1,Low,2.23
36499,2025-12-31,P0100,55,Male,Rawalpindi,16.4,Low,1.57

In [4]:
print("rows:",df.shape[0])
print("columns:",df.shape[1])

rows: 36500
columns: 8

In [5]:
df.isnull().sum()

Date                     0
Person_ID                0
Age                      0
Gender                   0
City                     0
Temperature_C            0
Activity_Level           0
Water_Consumed_Liters    0
dtype: int64

In [6]:
df.dtypes

Date                      object
Person_ID                 object
Age                        int64
Gender                    object
City                      object
Temperature_C            float64
Activity_Level            object
Water_Consumed_Liters    float64
dtype: object

**task10**

In [7]:
df=pd.read_csv("daily_water_consumption.csv")

In [8]:
print('We have {} rows.'.format(df.shape[0]))
print('We have {} columns'.format(df.shape[1]))

We have 36500 rows.
We have 8 columns

In [9]:
df["City"].unique()

array(['Karachi', 'karachi', 'Rawalpindi', 'Islamabad', 'Lahore',
       'Faisalabad', 'Multan'], dtype=object)

In [10]:
df["Gender"].unique()

array(['Female', 'Other', 'Male'], dtype=object)

In [11]:
df["Age"].unique()

array([21, 54, 37, 51, 58, 64, 57, 44, 25, 28, 43, 32, 46, 49, 34, 24, 18,
       42, 53, 39, 35, 52, 29, 20, 30, 63, 31, 47, 22, 36, 41, 27, 55, 56,
       40, 26, 48, 19, 38, 60, 50, 62], dtype=int64)

In [12]:
df.dtypes

Date                      object
Person_ID                 object
Age                        int64
Gender                    object
City                      object
Temperature_C            float64
Activity_Level            object
Water_Consumed_Liters    float64
dtype: object

In [13]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
df[df['Date'].isna()]

Empty DataFrame
Columns: [Date, Person_ID, Age, Gender, City, Temperature_C, Activity_Level, Water_Consumed_Liters]
Index: []

In [14]:
X = df.iloc[:, 0:-1]
X.shape
Y = df.iloc[:, -1]
Y.shape

(36500,)

In [15]:

x = df.drop(columns=['Water_Consumed_Liters'])
y = df['Water_Consumed_Liters']


x['Date'] = pd.to_datetime(x['Date'])
x['Day'] = x['Date'].dt.day
x['Month'] = x['Date'].dt.month
x['Year'] = x['Date'].dt.year
x = x.drop(columns=['Date']) 
x['City'] = x['City'].str.lower()

cat_columns = x.select_dtypes(['object']).columns
x[cat_columns] = x[cat_columns].apply(lambda col: pd.factorize(col)[0])

# Check result
print(x.head())
print(x.info())

   Person_ID  Age  Gender  City  Temperature_C  Activity_Level  Day  Month  \
0          0   21       0     0           22.1               0    1      1
1          0   21       0     0           41.0               0    2      1
2          0   21       0     0           26.4               1    3      1
3          0   21       0     0           31.4               0    4      1
4          0   21       0     0           35.7               2    5      1

   Year
0  2025
1  2025
2  2025
3  2025
4  2025
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36500 entries, 0 to 36499
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Person_ID       36500 non-null  int64
 1   Age             36500 non-null  int64
 2   Gender          36500 non-null  int64
 3   City            36500 non-null  int64
 4   Temperature_C   36500 non-null  float64
 5   Activity_Level  36500 non-null  int64
 6   Day             36500 non-null  int32
 7   Month           36500 non-null  int32
 8   Year            36500 non-null  int32
dtypes: float64(1), int32(3), int64(5)
memory usage: 2.1 MB
None

In [16]:
X = df.drop(columns=['Water_Consumed_Liters'])
y = df['Water_Consumed_Liters']

X['Date'] = pd.to_datetime(X['Date'])
X['Day'] = X['Date'].dt.day
X['Month'] = X['Date'].dt.month
X['Year'] = X['Date'].dt.year
X = X.drop(columns=['Date'])

X['City'] = X['City'].str.lower()

cat_columns = X.select_dtypes(['object']).columns
X[cat_columns] = X[cat_columns].apply(lambda col: pd.factorize(col)[0])

**task11**

In [17]:
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [18]:
from sklearn.model_selection import train_test_split
train_X, test_X, train_y, test_y = train_test_split(X,y, test_size=0.3, shuffle=False)

In [19]:
print(train_X.shape, train_y.shape)
print(test_X.shape, test_y.shape)

(25550, 9) (25550,)
(10950, 9) (10950,)

In [20]:
from sklearn.ensemble import RandomForestRegressor # Support Vector Classifier

model_rfr = RandomForestRegressor()
model_rfr.fit(train_X, train_y)

print(model_rfr)

RandomForestRegressor()

In [21]:
model_pred_rfr = model_rfr.predict(test_X)
model_pred_rfr

array([2.8706, 2.8049, 2.6819, ..., 2.8227, 2.4428, 1.6214])

In [22]:
from sklearn.metrics import r2_score
y_pred = model_rfr.predict(test_X)
model_r2 = r2_score(test_y, y_pred)
print("Here is model accuracy score (R²):", round(model_r2, 3)*100, "%")

Here is model accuracy score (R²): 92.4 %